<!-- <mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <img src="http://i.annihil.us/u/prod/marvel/i/mg/c/e0/535fecbbb9784.jpg" alt="character" matTooltip="Characters" [matTooltipPosition]="position">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="http://i.annihil.us/u/prod/marvel/i/mg/e/e0/4bac3ad5d17c7.jpg" alt="" matTooltip="Comics" [matTooltipPosition]="position">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg" alt="" matTooltip="Creators" [matTooltipPosition]="position">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="http://i.annihil.us/u/pr…i/mg/9/40/51ca10d996b8b.jpg" alt="Events" matTooltip="Events" [matTooltipPosition]="position">
  </mat-grid-tile>
  <mat-grid-tile>series</mat-grid-tile>
  <mat-grid-tile>stories</mat-grid-tile>
</mat-grid-list> -->


<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile color="primary">characters</mat-grid-tile>
  <mat-grid-tile>comics</mat-grid-tile>
  <mat-grid-tile>creators</mat-grid-tile>
  <mat-grid-tile>events</mat-grid-tile>
  <mat-grid-tile>series</mat-grid-tile>
  <mat-grid-tile>stories</mat-grid-tile>
</mat-grid-list>
